extends layout

block content
  h2 Welcome to the Summer League Website
  hr
  p.section
    | The Summer League is an inter-club competition of five races between June and August at various venues around London. The clubs in the league this year are Dulwich Park Runners, Metros, Ealing Southall and Middlesex, Mornington Chasers, Serpentine RC, Sudbury Court, Ealing Eagles and Queens Park Harriers.
  p.section
    | The main event is a 5 mile or 10km race which covers all standards and is based at a park local to the host club. Following the main event there is a shorter &apos;tenderfoot&apos; (1.5-2km) race suitable for children, runners returning from injury and runners who prefer to run a shorter distance. Finally there is a series of optional, light hearted, age graded, 300-400m relays, again suitable for all ages and abilities.
  p.section
    | Here you can find details of this season&apos;s 
    a(href='/fixtures') fixtures
    |  and information about the participating 
    a(href='/about/clubs') clubs
    | .
